# Python
__pycache__/
*.pyc
.venv/
venv/

# MATLAB
*.asv
*.m~

# LaTeX
*.aux
*.log
*.out
*.bbl
*.blg
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.run.xml
*.bcf

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/settings.json
.idea/
